body
{
    background-color: rgb(243, 232, 232);
}
h3
{
    color : cadetblue;
}
.jumbotron,.forcast-card
{
    color: white;
    background-color: cadetblue;
    border-color: cadetblue;
}
#current-day-pane
{
    color : cadetblue;
    background-color: white;
    border-style: groove;
    padding-left: 20px;
}

.forcast-card
{
    padding-bottom: 10px;
    padding-left: 5px;
}