body
{
    background-color: rgb(243, 232, 232);
}
.jumbotron,.forcast-card,#current-day-pane
{
    color: white;
    background-color: cadetblue;
    border-color: cadetblue;
}
.forcast-card
{
    margin-left: 20px;
}

.search-pane
{
    background-color: blueviolet;
}

input.form-control 
{
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}